[submodule "LIBERO"]
	path = LIBERO
	url = git@github.com:nakamotoo/LIBERO.git
[submodule "openpi"]
	path = openpi
	url = git@github.com:nakamotoo/openpi.git
[submodule "tactile_envs"]
	path = tactile_envs
	url = git@github.com:carlosferrazza/tactile_envs.git
